.node{
    width: 15px;;
    height: 15px;
     margin:1px;
    border: 2px solid rgba(74, 206, 206, 0.87);
    
    display: inline-block;
    transition:all 0.1s;
}
.node-finish{
  
  background-image: url(../../utils/finish.jfif);
  transform: scale(1.5);
 
  background-size: cover;
  
  background-repeat: no-repeat;
  border: 2px solid rgb(36, 243, 160);
}

.node-start{
  /* background-color:rgb(255, 81, 0); */
  background-image: url(../../utils/right-arrow.png);
  transform: scale(1.5);
 
  background-size: cover;
  
  background-repeat: no-repeat;
  border: 2px solid rgb(36, 243, 160);
}
.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}
@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(38, 38, 41, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(135, 136, 138, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(199, 202, 201, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(17, 17, 17, 0.75);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
  transform: scale(1.3);
  /* animation-name: wallAnimation; */
  animation-duration: .2s;
  
  
  
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  border-radius:100%;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-image: url(../../utils/right-arrow.png);
  transform: scale(1.5);
 
  background-size: cover;
  
  background-repeat: no-repeat;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(147, 247, 147);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(106, 255, 173);
  }

  100% {
    transform: scale(1);
    background-color: rgb(64, 253, 7);
  }
}